// Desktop
@media (min-width: 1024px) and (max-width: 1449px) {
    //Product Slide
    .product-slide-title {
        margin-top: 40px;
        margin-left: 40px;
    }
    .product-slide-title h2 {
        font-size: 3.5rem;
    }
    .product-slide-title p {
        margin-top: 20px;
        font-size: 2.6rem;
    }
    .btn-product-slide {
        margin-top: 30px;
    }
    //Banner Main
    .banner-main-right {
        padding: 0 40px;
    }
    .banner-main-right h1 {
        font-size: 3rem;
    }
    .banner-main-right p {
        font-size: 1.8rem;
    }
    .list-quantity-product {
        margin-top: 20px;
    }
    .item-quantity-product img {
        width: 40px;
    }
    .quantity-product {
        font-size: 5rem;
    }
    .item-quantity-product p {
        margin-top: 10px;
        font-size: 2rem;
    }
    //Main category product
    .main-category-item div h2 {
        font-size: 3.5rem;
    }
    .main-category-item div {
        padding: 30px 40px;
    }
    .main-category-item div p {
        margin-top: 30px;
        line-height: 120%;
        font-size: 2.2rem;
    }
    //Main Event
    .main-event {
        padding: 50px;
    }
}


/* Tablet  and mobile*/

@media (max-width: 1023px) {
    // Product Slide
    .previous,
    .next {
        padding: 10px 16px;
        border-radius: 30px;
    }
    .product-slide-title {
        margin-top: 30px;
        margin-left: 50px;
    }
    .product-slide-title h2 {
        font-size: 3rem;
    }
    .product-slide-title p {
        margin-top: 16px;
        font-size: 2.2rem;
    }
    .btn-product-slide {
        margin-top: 20px;
    }
    //Banner Main
    .banner-main {
        max-height: 1260px;
    }
    .banner-main-left {
        width: 100%;
    }
    .banner-main-right {
        width: 100%;
        padding: 60px 40px;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    //Slide Show top
    .slider-heading {
        padding: 36px;
    }
    .slider-heading p {
        font-size: 3.5rem;
    }
    .slider-heading button {
        margin-top: 36px;
    }
    .product-style-item a {
        font-size: 2.5rem;
    }
    //Main category product
    .main-category-item div h2 {
        font-size: 3rem;
    }
    .main-category-item div {
        padding: 20px 30px;
    }
    .main-category-item div p {
        margin-top: 20px;
        line-height: 120%;
        font-size: 2rem;
    }
    //Main Event
    .main-event {
        padding: 20px;
    }
    .main-event-left {
        padding: 30px;
    }
    //Main Sevices
    .flip-card {
        height: 235px;
    }
}


/* Mobile */

@media (max-width: 739px) {
    //Slide Show top
    .uk-list-control {
        margin-top: -20px;
    }
    .slider-heading {
        padding: 20px;
    }
    .slider-heading img {
        width: 20px;
    }
    .slider-heading p {
        font-size: 2rem;
        line-height: 150%;
        margin-top: 0px;
    }
    .slider-heading button {
        margin-top: 6px;
    }
    //Product Style
    .product-style {
        margin-top: 80px;
    }
    .home-title h1 {
        font-size: 4rem;
    }
    //Product Slide
    .product-slide-before a img,
    .product-slide-after a img {
        height: 300px;
    }
    .product-slide-before {
        order: 1;
    }
    .product-slide-after {
        order: 2;
    }
    .product-slide-main {
        order: 3;
    }
    .product-slide {
        max-height: 800px;
    }
    //Special Menu
    .special-menu h1 {
        font-size: 4rem;
    }
    .special-menu-product-heading {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    //Banner Main
    .banner-main-right {
        padding: 40px;
    }
    .banner-main-right h1 {
        font-size: 3rem;
    }
    .banner-main-right p {
        font-size: 1.8rem;
    }
    .list-quantity-product {
        margin-top: 20px;
    }
    .item-quantity-product img {
        width: 40px;
    }
    .quantity-product {
        font-size: 4rem;
    }
    .item-quantity-product p {
        margin-top: 10px;
        font-size: 2rem;
    }
    .top-selling-product-info .top-selling-product-heading {
        margin-top: 20px;
        font-size: 1.8rem;
    }
    .top-selling-product-price {
        margin-top: 16px;
        font-size: 2rem;
    }
    .top-selling-product-price i {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .top-selling-prev-next .next,
    .top-selling-prev-next .previous {
        padding: 12px 18px;
        font-size: 1.6rem;
    }
    //Main category product
    .main-category-item div h2 {
        font-size: 3rem;
    }
    .main-category-item div {
        padding: 20px 30px;
    }
    .main-category-item div p {
        margin-top: 20px;
        line-height: 120%;
        font-size: 2rem;
    }
    .main-category-product,
    .main-category-left,
    .main-category-right,
    .main-category-left-top,
    .main-category-left-top-item {
        width: 100%;
        display: block;
    }
    //Main Event
    .main-event {
        padding: 20px;
    }
    .main-event-right .item {
        margin-top: 10px;
    }
    .main-event-right .item:first-child {
        margin-top: 0;
    }
    .main-event-left h2 {
        font-size: 5rem;
    }
    .main-event-left h1 {
        font-size: 7rem;
    }
    .main-event-left p {
        font-size: 1.8rem;
    }
    //Modal overplay start
    .modal-overplay.active {
        display: none;
    }
}