<%- include('layouts/head')%>

    <head>
        <title>Document</title>
    </head>

    <body>
        <%- include('layouts/header')%>

            <h1>SEARCH</h1>


            <%- include('layouts/footer')%>
    </body>

    </html>