<footer class="footer" style="background-image: url(/img/footer-img-new_1920X.jpg)">
    <div class="footer-logo">
        <a href=""><img src="/img/footer-logo.png" alt="" /></a>
    </div>
    <ul class="footer-list-icon">
        <li class="footer-item-icon">
            <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li class="footer-item-icon">
            <a href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li class="footer-item-icon">
            <a href=""><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li class="footer-item-icon">
            <a href=""> <i class="fab fa-tumblr"></i></a>
        </li>
    </ul>
    <ul class="footer-nav-list">
        <li class="footer-nav-item">
            <a href="">Search</a>
        </li>
        <li class="footer-nav-item">
            <a href="">Help</a>
        </li>
        <li class="footer-nav-item">
            <a href="">Imformation</a>
        </li>
        <li class="footer-nav-item">
            <a href="">Privacy Policy</a>
        </li>
        <li class="footer-nav-item">
            <a href="">Shipping Delails</a>
        </li>
    </ul>
    <p class="footer-title">Copyright © 2021, Chik Powered by LeNN</p>
    <ul class="list-partner">
        <li class="item-partner">
            <a href="">
                <img src="/img/card-icons-1.png" alt="" />
            </a>
        </li>
        <li class="item-partner">
            <a href="">
                <img src="/img/card-icons-2.png" alt="" />
            </a>
        </li>
        <li class="item-partner">
            <a href="">
                <img src="/img/card-icons-3.png" alt="" />
            </a>
        </li>
        <li class="item-partner">
            <a href="">
                <img src="/img/card-icons-4.png" alt="" />
            </a>
        </li>
        <li class="item-partner">
            <a href="">
                <img src="/img/card-icons-5.png" alt="" />
            </a>
        </li>
    </ul>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/vendor/Number-Input-Spinner-jQuery/dist/jquery.nice-number.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
<script src="/vendor/wow.min.js"></script>
<script>
    new WOW().init();
    $(function() {
        $('input[type="number"]').niceNumber();
    });
</script>
<script src="/js/base.js"></script>