<div class="head">
    <div class="grid wide">
        <div class="head-main">
            <ul class="head-list-icon">
                <li class="head-item-icon">
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li class="head-item-icon">
                    <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li class="head-item-icon">
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                </li>
                <li class="head-item-icon">
                    <a href=""> <i class="fab fa-tumblr"></i></a>
                </li>
            </ul>
            <div class="head-contact">
                <p>Call Us : (00) 000 111 222 | Mail :&nbsp</p>
                <a href="">info@somedomain.com</a>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="grid wide">
        <div class="header-main">
            <div class="header-logo">
                <a href=""><img src="/img/logo.png" alt=""></a>
            </div>
            <nav class="header-nav">
                <div class="header-nav-item"><a href="">Home</a></div>
                <div class="header-nav-item" id="collection">
                    <a href="">Collection
                        <i class="fas fa-caret-down"></i></a>
                    <div class="collection-menu nav-drop-down-menu">
                        <div class="nav-collection-top">
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Burger</a>
                                <a href="">Chicken Tequila</a>
                                <a href="">BLT Chicken</a>
                                <a href="">Caramelized Chicken</a>
                                <a href="">Crispy Cheddar</a>
                                <a href="">Spicy Aioli</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Fried</a>
                                <a href="">Royal Meal</a>
                                <a href="">Buffalo Chicken</a>
                                <a href="">Cheddar Cheese</a>
                                <a href="">Crispy Cheese</a>
                                <a href="">Parmesan Cheese</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Popcorn</a>
                                <a href="">Assian-Style</a>
                                <a href="">Royyal Cheese</a>
                                <a href="">Parmesan Crispy</a>
                                <a href="">Spicy Aioli</a>
                                <a href="">Crispy Cheese</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Sandwich</a>
                                <a href="">Middle Eastern</a>
                                <a href="">Spiced Chicken</a>
                                <a href="">Indian Spiced</a>
                                <a href="">BBQ Chicken</a>
                                <a href="">Slaw Chicken</a>
                            </div>
                        </div>


                        <div class="nav-colection-bottom">
                            <div class="nav-colection-bottom-img">
                                <a href="">
                                    <img src="/img/menu3_2000x.jpg" alt="">
                                </a>
                            </div>
                            <div class="nav-colection-bottom-img">
                                <a href="">
                                    <img src="/img/menu4_2000x.jpg" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="header-nav-item" id="shop">
                    <a href="">Shop
                        <i class="fas fa-caret-down"></i></a>
                    <div class="shop-menu nav-drop-down-menu">
                        <div class="nav-shop-left">
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Fied</a>
                                <a href="">Parmesan Cheese</a>
                                <a href="">Crispy Cheese</a>
                                <a href="">Buffalo Chicken</a>
                                <a href="">Royal Meal</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Sandwich</a>
                                <a href="">Middle Eastern</a>
                                <a href="">BBQ Chicken</a>
                                <a href="">Slaw Chicken</a>
                                <a href="">Indian Spiced</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Popcorn</a>
                                <a href="">Asian-Style</a>
                                <a href="">Crispy Cheese</a>
                                <a href="">Spicy Aioli</a>
                                <a href="">Royal Cheese</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Burger</a>
                                <a href="">Chicken Tequila</a>
                                <a href="">Spicy Aioli</a>
                                <a href="">Caramelized Chicken</a>
                                <a href="">BLT Chicken</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Manchurian</a>
                                <a href="">Chicken Masala</a>
                                <a href="">Carolina Chicken</a>
                                <a href="">Ancho Slaw</a>
                                <a href="">Chipotle Chicken</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Strips</a>
                                <a href="">Sriracha</a>
                                <a href="">Chicken Cheese</a>
                                <a href="">Banh Mi Chicken</a>
                                <a href="">Charred Tomatoes</a>
                            </div>
                        </div>
                        <div class="nav-shop-right">
                            <div class="nav-shop-right-item">
                                <div class="shop-menu-right-item-img">
                                    <a href=""><img src="/img/mega-menu-3-1_2000x.jpg" alt=""></a>
                                </div>
                                <div class="shop-menu-right-item-img">
                                    <a href=""><img src="/img/mega-menu-3-2_2000x.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="nav-shop-right-item">
                                <a href=""><img src="/img/mega-menu-3-3_2000x.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav-item" id="snack">
                    <a href=""> Snack
                    <i class="fas fa-caret-down"></i></a>
                    <div class="snack-menu nav-drop-down-menu">
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Strips</a>
                            <a href="">Sriracha</a>
                            <a href="">Chicken Cheese</a>
                            <a href="">Banh Mi Chicken</a>
                            <a href="">Charred Tomatoes</a>
                            <a href="">Peanut Sauce</a>
                        </div>
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Chicken Pops</a>
                            <a href="">Greek Chicken</a>
                            <a href="">Grilled Mexican</a>
                            <a href="">Basil Mayonnaise</a>
                            <a href="">Peanut Sauce</a>
                            <a href="">Open Face Chicken</a>
                        </div>
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Manchurian</a>
                            <a href="">Chicken Masala</a>
                            <a href="">Carolina Chicken</a>
                            <a href="">Ancho Slaw</a>
                            <a href="">Chipotle Chicken</a>
                            <a href="">Chicken Burgers</a>
                        </div>
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Fried</a>
                            <a href="">Parmesan Cheese</a>
                            <a href="">Crispy Cheese</a>
                            <a href="">Buffalo Chicken</a>
                            <a href="">Royal Meal</a>
                            <a href="">Cheddar Cheese</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-item" id="crispy">
                    <a href="">Crispy
                        <i class="fas fa-caret-down"></i></a>
                    <div class="crispy-menu nav-drop-down-menu">
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Krunchy</a>
                            <a href="">Teekha Murg</a>
                            <a href="">Murg Malaiwala</a>
                            <a href="">Chicken Roast</a>
                            <a href="">Kerala Chicken</a>
                            <a href="">Chicken Chettinad</a>
                            <a href="">Chicken Cheese</a>
                            <a href="">Kadhai Chicken</a>
                            <a href="">Chicken Ball</a>
                            <a href="">Chicken Strips</a>
                        </div>
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Chicken Popcorn</a>
                            <a href="">Tropical Chicken</a>
                            <a href="">Lemon Chicken</a>
                            <a href="">Spiced Yogurt</a>
                            <a href="">Yogurt Sauce</a>
                            <a href="">Spicy Tangy</a>
                            <a href="">Chana Aur</a>
                            <a href="">Chicken Lollipop</a>
                            <a href="">Chilli Grill</a>
                            <a href="">Creamy Chilli</a>
                        </div>
                        <div class="parent-mega-menu">
                            <a href="" class="menu-first-child">Chicken Wrap</a>
                            <a href="">Zucchini Chicken</a>
                            <a href="">Chicken Burgers</a>
                            <a href="">Coconut Chicken</a>
                            <a href="">Chicken Curry</a>
                            <a href="">Cooker Chicken</a>
                            <a href="">Buffalo Chicken</a>
                            <a href="">Chicken Sliders</a>
                            <a href="">Lolipop Chicken</a>
                            <a href="">Spicy Tandoori</a>
                        </div>
                        <div class="parent-mega-menu crispy-menu-item">
                            <div class="crispy-menu-item-info">
                                <a href="">
                                    <img src="/img/product1_large.jpg" alt=""> </a>
                                <a href="" class="link-share">Chicken Ball</a>
                                <p>Rs. 17,971.05</p>
                            </div>

                        </div>
                        <div class="parent-mega-menu crispy-menu-item">
                            <a href=""><img src="/img/mega-menu-2_2000x.jpg" alt=""></a>
                        </div>

                    </div>
                </div>
                <div class="header-nav-item" id="baked">
                    <a href="">Baked
                        <i class="fas fa-caret-down"></i></a>
                    <div class="baked-menu nav-drop-down-menu">
                        <div class="nav-baked-left">
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Grilled Chickend</a>
                                <a href="">Basil Mayonnaise</a>
                                <a href="">Open-Face Chicken</a>
                                <a href="">Grilled Mexican</a>
                                <a href="">Greek Chicken</a>
                                <a href="">Chicken Cheese</a>
                                <a href="">Buffalo Chicken</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Tahini Roasted</a>
                                <a href="">Greek Chicken</a>
                                <a href="">Zucchini Chicken</a>
                                <a href="">Open-Face Chicken</a>
                                <a href="">Chicken Stroganoff</a>
                                <a href="">Lemon Chicken</a>
                                <a href="">Pita Burger</a>
                            </div>
                            <div class="parent-mega-menu">
                                <a href="" class="menu-first-child">Stir-Fry</a>
                                <a href="">Yogurt Sauce</a>
                                <a href="">Greek Chicken</a>
                                <a href="">Lemon Chicken</a>
                                <a href="">Tropical Chicken</a>
                                <a href="">Florentine chicken</a>
                                <a href="">Buffalo Chicken</a>
                            </div>
                        </div>
                        <div class="nav-baked-right">
                            <a href=""><img src="/img/mega-menu-1_2000x.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-item" id="pages">
                    <a href=""> Pages
                    <i class="fas fa-caret-down"></i></a>
                    <ul class="nav-pages-list">
                        <li class="nav-pages-item"><a href="">About us</a></li>
                        <li class="nav-pages-item"><a href="">Contact us</a></li>
                        <li class="nav-pages-item"><a href="">Blog</a></lsi>
                    </ul>
                </div>
            </nav>
            <ul class="header-list-icon">
                <li class="header-item-icon" id="nav-search">
                    <i class="fas fa-search"></i>
                </li>
                <li class="header-item-icon" id="header-item-card">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="nav-cart-info">
                        <ul class="nav-cart-list">
                            <li class="nav-cart-item">
                                <div class="nav-cart-info-top-img">
                                    <img src="/img/product15_small.jpg" alt="">
                                </div>
                                <div class="nav-cart-info-top-right">
                                    <a href="" class="cart-product-name">Juicy Grilled Chicken M / Spicy / Salty </a>
                                    <p class="cart-product-price">Rs. 66,091.89 x 1</p>
                                </div>
                            </li>
                            <li class="nav-cart-item">
                                <div class="nav-cart-info-top-img">
                                    <img src="/img/product15_small.jpg" alt="">
                                </div>
                                <div class="nav-cart-info-top-right">
                                    <a href="" class="cart-product-name">Juicy Grilled Chicken M / Spicy / Salty </a>
                                    <p class="cart-product-price">Rs. 66,091.89 x 1</p>
                                </div>
                            </li>
                            <li class="nav-cart-item">
                                <div class="nav-cart-info-top-img">
                                    <img src="/img/product15_small.jpg" alt="">
                                </div>
                                <div class="nav-cart-info-top-right">
                                    <a href="" class="cart-product-name">Juicy Grilled Chicken M / Spicy / Salty </a>
                                    <p class="cart-product-price">Rs. 66,091.89 x 1</p>
                                </div>
                            </li>
                        </ul>

                        <div class="nav-cart-info-botton">
                            <p>CART TOTAL : Rs. 66,091.89</p>
                            <div class="nav-cart-info-botton-btn">
                                <button>
                                    <i class="fas fa-check"></i>
                                    Check Out
                                </button>
                                <button>
                                    <i class="fas fa-baby-carriage"></i>
                                    View Cart
                                </button>
                            </div>
                        </div>

                    </div>
                </li>
                <!-- Header mobile and tablet -->
                <li class="header-item-icon menu-mobile-list">
                    <i class="fas fa-bars"></i>
                </li>
                <li class="header-item-icon" id="header-user-icon">
                    <i class="fas fa-user"></i>
                    <ul class="user-info-list">
                        <li class="user-info-item">
                            <a href="">
                                <i class="fas fa-sign-in-alt"></i> Log in
                            </a>
                        </li>
                        <li class="user-info-item">
                            <a href="">
                                <i class="fas fa-user"></i> Create Account
                            </a>
                        </li>
                        <li class="user-info-item">
                            <a href="">
                                <i class="far fa-heart"></i> Wishlist
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="modal-search">
                <form action="/search" method="get" class="modal-search-form">
                    <input type="hidden" name="type" value="product">
                    <div class="nav-search-table">
                        <div class="modal-search-table-left">
                            <input type="hidden" name="type" value="product">
                            <input type="search" id="SearchInput" name="q" value="" placeholder="Search..." aria-label="Search..." class="modal-search-input">
                        </div>
                        <div class="modal-search-table-right">
                            <button type="submit" class="modal-search-submit" id="modal-search-submit">
                                <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                </form>
                <div class="modal-search-close" id="modal-search-close">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Modal Overplay mobile -->
<div class="modal-overplay-mobile">
</div>
<!-- menu list mobile and tablet -->
<div class="menu-list-mobile-tablet">
    <h2 class="menu-list-mobile-tablet-heading">Menu</h2>
    <ul class="nav-mobile-list">
        <li class="nav-mobile-item"><a href="">Home</a></li>
        <li class="nav-mobile-item"><a href=""><span class="">Collection</span>
        </a>
            <div class="nav-mobile-list-icon">
                <i class="fas fa-plus"></i>
            </div>
            <ul class="list-menu-select">
                <li class="item-menu-select"><a href="">Burger</a></li>
                <li class="item-menu-select"><a href="">Fried</a></li>
                <li class="item-menu-select"><a href="">Popcorn</a></li>
                <li class="item-menu-select"><a href="">Sandwich</a></li>
            </ul>
        </li>
        <li class="nav-mobile-item"><a href="">Snack
        </a>
            <div class="nav-mobile-list-icon">
                <i class="fas fa-plus"></i>
            </div>
            <ul class="list-menu-select">
                <li class="item-menu-select"><a href="">Burger</a></li>
                <li class="item-menu-select"><a href="">Fried</a></li>
                <li class="item-menu-select"><a href="">Popcorn</a></li>
                <li class="item-menu-select"><a href="">Sandwich</a></li>
            </ul>
        </li>
        <li class="nav-mobile-item"><a href="">Crispy
        </a>
            <div class="nav-mobile-list-icon">
                <i class="fas fa-plus"></i>
            </div>
            <ul class="list-menu-select">
                <li class="item-menu-select"><a href="">Burger</a></li>
                <li class="item-menu-select"><a href="">Fried</a></li>
                <li class="item-menu-select"><a href="">Popcorn</a></li>
                <li class="item-menu-select"><a href="">Sandwich</a></li>
            </ul>
        </li>
        <li class="nav-mobile-item"><a href="">Baked
        </a>
            <div class="nav-mobile-list-icon">
                <i class="fas fa-plus"></i>
            </div>
            <ul class="list-menu-select">
                <li class="item-menu-select"><a href="">Burger</a></li>
                <li class="item-menu-select"><a href="">Fried</a></li>
                <li class="item-menu-select"><a href="">Popcorn</a></li>
                <li class="item-menu-select"><a href="">Sandwich</a></li>
            </ul>
        </li>
        <li class="nav-mobile-item"><a href="">Pages</a></li>
        <li class="nav-mobile-item menu-list-mobile-close">Back <i class="far fa-arrow-alt-circle-left"></i></li>

    </ul>
</div>


<div class="margin-header"></div>